@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (SignInManager.IsSignedIn(User))
{
    // Signed in user
    <form method="post" asp-controller="Account" asp-action="Logout">
        @User.Identity.Name
        <input type="submit" value="Logout" class="navbar-btn btn btn-danger" />
    </form>
}
else
{
    // Anonymous user
    <a class="btn btn-xs btn-default navbar-btn" asp-controller="Account" asp-action="Login">Login</a>
    <a class="btn btn-xs btn-default navbar-btn" asp-controller="Account" asp-action="Register">Register</a>
}

